# Source code
.git
.gitignore
.dockerignore
Dockerfile*
docker-compose*
.gitlab-ci.yml

# Dependency directory
node_modules

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
