.footerLogo {
  background-image: url(QuorumLogo_Blue.png);
  display: block;
  background-size: contain;
  font-size: 0px;
  text-indent: -99999px;
  width: 196px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
}
